<!DOCTYPE html>
<html>
    <head>
        <title>prestamosapi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            table {
                border: 1px solid royalblue;
            }
            td {
                border: 1px solid lightskyblue;
            }
            body {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>

        <h3>Mis préstamos</h3>

        <p>Con th:each puedo iterar la lista inyectada en el atributo "prestamos"</p>
        
        <table>
            <tr th:each="prestamo: ${prestamos}">
                <td th:text="${prestamo.monto}" />
                <td th:text="${prestamo.cantidadCuotas}" />
            </tr>
        </table>

        <p>Aca estoy usando el prestamo cargado en el atributo "otroPrestamo"</p>
        
        <p th:text="${otroPrestamo.monto}"></p>

        <button><a href="/">< Volver</a></button>

    </body>
</html>